* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 40vh;
  border-radius: 1rem;
  background-color: slategrey;
  padding: 1.5%;
}

.calc-screen {
  flex: 1 2 20%;
  width: 100%;
  background-color: white;
  margin-bottom: 1%;
  text-align: right;
  padding-top: 1rem;
}

.calc-buttons {
  flex: 2 1 80%;
  display: flex;
  width: 100%;
}

.calc-buttons-main {
  flex: 2 1 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.calc-buttons-num {
  height: 100%;
  flex: 2 1 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.operand {
  width: 30%;
  height: 25%;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.calc-buttons-operation {
  height: 100%;
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operator, .plus-minus, .percent {
  /* flex: 1 1 20%; */
  height: 25%;
  width: 50%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.calc-buttons-misc {
  display: flex;
  height: 100%;
  flex: 1 2 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
}

.equals {
  flex: 2 1 70%;
  background-color: royalblue;
  color: white;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.clear {
  flex: 1 2 30%;
  border-radius: 0.5rem;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .calc-body {
    height: 20vh;
    width: 60vw;
    padding: 2%;
  }
  .calc-screen {
    flex: 1;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .calc-buttons-main {
    height: 70%;
    flex: 2;
  }

  .operand {
    font-size: 0.7rem;
  }

  .operator, .plus-minus, .percent {
    height: 25%;
    width: 70%;
    font-size: 0.7rem;
  }
}

@media screen and (min-height: 200px) and (max-height: 700px) {
  .calc-body {
    height: 60vh;
  }
}
